<ng-container>
  <div class="container mt-5">
    <div class="list-group">
      <div class="d-flex align-items-center" *ngFor="let task of tasks;  let i = index">
        <ng-container *ngIf="task.done">
          <button
            class="btn btn-success h-25"
            (click)="doneTask(task)" disabled><i class="bi bi-check-lg"></i>
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action m-2"
            (click)="openModal([task, i])"
          >
            <s>{{ task.name }}</s>
          </button>
        </ng-container>
        <ng-container *ngIf="!task.done">
          <button
            class="btn btn-outline-success h-25"
            (click)="doneTask([task, i])"><i class="bi bi-check-lg"></i>
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action m-2"
            (click)="openModal([task, i])"
          >
            {{ task.name }}
          </button>
        </ng-container>
      </div>
      <div class="d-flex me-2">
        <input
          type="text"
          class="list-group-item list-group-item-action border"
          placeholder="Add task"
          [(ngModel)]="nameTask"
          (keyup.enter)="addTask()">
        <button
          class="btn btn-primary col-1 ms-2"
          (click)="addTask()"><i class="bi bi-plus"></i></button>
      </div>
    </div>
  </div>
  <app-modal-window
    [nameTask]="detailsTask?.name"
    [indexTask]="indexTask"
    [detailsTask]="detailsTask"
  ></app-modal-window>
</ng-container>
