<ng-container>
  <div class="container mt-5 col-xl-7">
    <div class="list-group">

      <form class="d-sm-flex me-2 me-sm-3 mb-4">
        <div class="col-sm-8">
          <input class="form-control" type="search" placeholder="Search" name="search"
                 [(ngModel)]="searchValue" autocomplete="off">
        </div>
        <div class="col-sm-4 mt-sm-0 mt-2 ms-sm-2">
          <select class="form-select" name="select" [(ngModel)]="selectedValue">
            <option value="">Select task status</option>
            <option value="false">Tasks not done</option>
            <option value="true">Tasks done</option>
          </select>
        </div>
      </form>

      <div class="d-flex align-items-center"
           *ngFor="let task of tasks | filter: selectedValue || searchValue;  let i = index">
        <ng-container *ngIf="task.done">
          <button
            class="btn btn-success h-25"
            (click)="doneTask(task)" disabled><i class="bi bi-check-lg"></i>
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action m-2"
            (click)="openModal([task, i])"
          >
            <s>{{ task.name }}</s>
          </button>
        </ng-container>
        <ng-container *ngIf="!task.done">
          <button
            class="btn btn-outline-success h-25"
            (click)="doneTask([task, i])"><i class="bi bi-check-lg"></i>
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action m-2"
            (click)="openModal([task, i])"
          >
            {{ task.name }}
          </button>
        </ng-container>
      </div>

      <form class="d-flex mt-2 col-xl-12 pe-xl-2 mb-2">
        <div class="col-10 col-sm-11 col-xl-10">
          <input
            type="text"
            class="form-control"
            placeholder="Add task"
            name="name"
            [(ngModel)]="nameTask"
            (keyup.enter)="addTask()">
        </div>
        <div class="col-2 col-sm-1 ms-2 ps-1 ps-sm-0 col-xl-3 pe-xl-5 ps-lg-2">
          <button
            class="btn btn-primary w-75"
            (click)="addTask()"><i class="bi bi-plus"></i></button>
        </div>
      </form>
    </div>
  </div>
  <app-modal-window
    [nameTask]="detailsTask?.name"
    [indexTask]="indexTask"
    [detailsTask]="detailsTask"
  ></app-modal-window>
</ng-container>
